<nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
  <div class="container"><a class="navbar-brand logo" href="/">Cavoke</a>
    <button class="navbar-toggler" data-bs-target="#navcol-1" data-bs-toggle="collapse"><span
      class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/new">Submit new game</a></li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer class="page-footer dark">
  <div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-3">
        <h5>Get started</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/new">Submit new game</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h5>About us</h5>
        <ul>
          <li><a href="https://github.com/cavoke-project/cavoke">GitHub page</a></li>
          <!--          <li><a href="mailto:a.kovrigin0@gmail.com">Contact me</a></li>-->
        </ul>
      </div>
      <div class="col-sm-3"></div>
    </div>
  </div>
  <div class="footer-copyright">
    <p>© 2022 Mark Ipatov, Alexander Kovrigin, Petr Tsvetkov</p>
  </div>
</footer>

<script src="/static/js/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.3/dist/jquery.validate.min.js"></script>
<script src="/static/js/vanilla-zoom.js"></script>
<script src="/static/js/theme.js"></script>
<script src="https://cdn.jsdelivr.net/npm/typeahead.js@0.11.1/dist/typeahead.bundle.min.js"></script>
